# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# test -------------------------------------------------------------------------
/test
# ------------------------------------------------------------------------------