strong {
    font-weight: bold;
}

.wrap {
    padding: 5px;
}

.spacer {
    margin: 20px 0;
}

#dlg_rules, #dlg_sql {
    padding-bottom: 5px;
    font-size: 12px;
    font-family: "courier new";
}

#dlg_sql li {
    padding-bottom: 10px;
    font-size: 12px;
    font-family: "courier new";
}

/* demo_rules1 --------------------------------------------------------------- */
.demo_rules1_container {
    padding: 5px 10px 10px 10px;
    border: 1px solid black;
    width: 800px;
}

.lastname {
    background: #edf3d3;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

.ftl_autocomplete {
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

.ftl_autocomplete_value {
    width: 50px;
    margin: 0 5px;
    padding: 0;
    display: none;
}

.ftl_slider {
    float: right;
    width: 200px;
    margin: 2px 0 0 15px;
}

.ftl_slider_value {
    width: 50px;
    margin: 0 5px;
    padding: 0;
/*    display: none;*/
}

/* demo_rules1 widgets ------------------------------------------------------ */
.ui-datepicker{
    font-size: 12px;
}

.ui-autocomplete{
    font-size: 12px;
}