.wrap {
    padding: 5px;
}

.spacer {
    margin: 20px 0;
}

#dlg_rules, #dlg_sql {
    padding-bottom: 5px;
    font-size: 12px;
    font-family: "courier new";
}

/* demo_rules1 --------------------------------------------------------------- */
.rules1_container {
    padding: 5px 10px 10px 10px;
    border: 1px solid black;
    width: 700px;
}


.lastname {
    background: #edf3d3;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

.ftl_autocomplete {
    background: #208df3;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}